:root {
    --grid-size: 1;
}

body {
    background-color: #2F4F4F;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: space-around;
    width: 75vh;
    height: 75vh;
    background-color: #8FBC8F;
}

.score {
    min-width: 75vh;
    text-justify: left;
}

.menu {
    align-self: center;
    justify-self: center;
    font-size: 2em;
    z-index: 4;
}

.retry {
    position: absolute;
    z-index: 4;
    margin-top: 20%;
    margin-left: -19%;
}

.change-difficulty {
    position: absolute;
    z-index: 4;
    margin-top: 20%;
    margin-left: 19%;
}

.change-difficulty span {
    display: block;
}



.menu:hover {
    color: #FFF8DC;
    transform: scale(1.1);
    cursor: pointer;
    transition: .3s linear;
}

.game-over {
    position: absolute;
    z-index: 4;
    margin-top: 5%;
    margin-left: 0;
    font-size: 8em;
}

.game-over span {
    display: block;
}

.timer {
    position: absolute;
    z-index: 4;
    margin-top: -20%;
    margin-left: 0;
    font-size: 8em;
}

.game-board{
    width: 75vh;
    height: 75vh;
    background-color: #8FBC8F;
    display: grid;
    margin: auto;
    grid-gap: 0;
    grid-template-rows: repeat(var(--grid-size), .5fr);
    grid-template-columns: repeat(var(--grid-size), .5fr);


}

.cell {
    padding: 1em;
    text-align: center;

}


.egg-cell {
    padding: 1em;
    border-radius: 50%;
    background-color: #483D8B;
}

.snake-cell{
    padding: 1em;
    border-radius: 10px;
    text-align: center;
    background-color: black;
}