:root {
    --grid-size: 1;
}

.start-button {
    align-self: center;
    justify-self: center;
}

.game-board{
    width: 75vh;
    height: 75vh;
    background-color: gray;
    display: grid;
    margin: auto;
    grid-gap: 0;
    grid-template-rows: repeat(var(--grid-size), .5fr);
    grid-template-columns: repeat(var(--grid-size), .5fr);


}

.cell {
    padding: 1em;
    /* border: 1px solid black; */
    text-align: center;

}

.snake-cell{
    padding: 1em;
    border: 1px solid gray;
    text-align: center;
    background-color: black;
}